<div class="row text-center" id="managers">
<div class="col-md-4 card text-white bg-warning mb-4" style="max-width: 18rem; margin-right: 2rem; margin-left: 2rem;">
    <div class="card-body">
        <h5 class="card-title">${mngr.name}</h5>
        <h6>${mngr.role}</h6>
        <div class="card" style="width: auto; color: black;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: ${mngr.id}</li>
                <li class="list-group-item">Email: ${mngr.email}</li>
                <li class="list-group-item">Office Number: ${mngr.officeNumber}</li>
            </ul>
        </div>
    </div>
</div>
</div>